<!-- navigation-template.html -->
<nav class="navbar navbar-light p-2" id="navigationShopfloor">
    <div class="container-fluid justify-content-between">
      <div class="dropdown" data-bs-toggle="dropdown">
        <button type="button" class="btn">
          <i class="fa-solid fa-bars text-white fs-4"></i>
        </button>
        <div id="megadropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div class="row">
            <div class="col-2">
              <h5 class="dropdown-item disabled">Shopfloor</h5>
              <li><hr class="dropdown-divider m-1" /></li>
              <li><a class="dropdown-item m-1 active" href="#">Dashbard</a></li>
            </div>
            <div class="col-2">
              <h5 class="dropdown-item disabled">Allgemein</h5>
              <li><hr class="dropdown-divider m-1" /></li>
              <li><a class="dropdown-item m-1" href="#">Production Calendar</a></li>
            </div>
          </div>
        </div>
      </div>
      <a class="navbar-brand m-0" href="#">
        <img src="" alt="" />
        <h1 class="d-inline h4">Digital Shopfloor</h1>
      </a>
      <div class="align-center">
        <p class="text-white m-0 me-1" id="navDateAndTime"></p>
        <p class="text-white m-0" id="navKW"></p>
      </div>
    </div>
  </nav>

  <script src="../src/assets/js/date.js"></script>